
.task-list-container {
    margin-top: 20px;
}

.task-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.task-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.task-status {
    font-size: 16px;
    color: #666;
}

.task-delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.task-delete-button:hover {
    background-color: #d32f2f;
}
